@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

html, body {
  padding: 0;
  margin: 2em;
  font-family: 'Muli', sans-serif;
  background: blue;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

p, .attribution {
  color: #fff;
}
.attribution {
  font-size: 0.8em;
  text-align: center;
}


header {
  text-align: center;
}
header h1 {
  color: #fff;
  font-size: 1em;
}
header h1 a {
  color: #fff;
  text-decoration: none;
}
header h4 {
  color: #030343;
  font-size: 0.9em;
}
header a {
  color: #e6e237;
  text-decoration: none;
  border-bottom: 2px solid #e6e237;
}

.page {
  color: #fff;
  max-width: 720px;
  margin: 2em auto 6em auto;
  font-size: 1.1em;
  line-height: 1.4;
}
.page h1 {
  text-align: center;
}

footer {
  color: #fff;
  margin: 2em 0 6em 0;
}
footer a, .page a, .attribution a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #e6e237;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 0;
}
.page h2, .heading {
  margin: 3em 0 2em 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
}
figure img {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 22%);
  justify-content: space-between;
}

.receptor-meta {
  color: #fff;
  text-align: center;
}
.receptor-meta p {
  text-align: left;
  max-width: 920px;
  margin: 2em auto;
}
.receptor-meta h2 {
  margin-top: 4.5em;
  color: #030343;
  font-size: 1.2em;
}
.receptor-meta h1 {
  border-bottom: 6px solid #030343;
  margin: 0;
  font-size: 2em;
}
.receptor {
  margin-bottom: 2em;
}
.receptor a {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #e6e237;
}
.receptor p {
  color: #030343;
}

.meta {
    background: #eee;
    color: #000;
    padding: 0.6em;
}

.compound {
  font-family: 'Fira Mono', monospace;
  font-size: 0.7em;
  padding: 0;
  margin: 0 0 4em 0;
  display: inline-block;
  cursor: help;
  vertical-align: top;
  border-radius: 0.5em;
  overflow: hidden;
  border: 4px solid #1a0883;
}
.compound .meta {
  word-wrap: break-word;
  min-height: 180px;
  position: relative;
}
.compound .meta span {
  color: red;
}
.compound .atc-code {
  margin-left: 1em;
  font-size: 0.85em;
}
.compound:hover {
  border: none;
}

.synthesis-plan {
  line-height: 2;
  position: absolute;
  bottom: 0;
}
.synthesis-plan em {
  color: #555;
}
